<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobMec | Connecting Mechanics and Car Owners Worldwide</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
</head>
<body>
    <div class="nav">
        <h2>GlobMec</h2>
        <ul id="item">
            <li><a href="#home">HOME</a></li>
            <a href="../templates/register"><button>Register</button></a>
            <li><a href="#about">OPERATIONS</a></li>
            <li><a href="#classes">THE COMPANY</a></li>
            <li><a href="#contact">CONTACT US</a></li>
            <div class="icon">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                <i class="fa fa-users" aria-hidden="true"></i>
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
        </ul>
        <i id="bar" class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <div class="doc" id="home">
        
    </div>

    <div id="" class="back">
        <div class="overlay"></div>
    </div>

    <div class="mid">
        <p>Company you can count on</p>
        <h2>We believe in quality diagnoses<br> repairs accurately and quickly
            <br>with affordable price</h2>
          
        <div class="btn">
            <a class="simple" href="#about">Book Appointment</a>
            <a class="border" href="#classes">Explore More</a>
        </div>
    </div>

    <div id="about" class="details">
        <div class="one" data-aos="fade-left">
            <h5>OUR VISION</h5>
            <h6>GlobMec is an innovative auto repair solution designed to 
                bridge the gap between mechanics and car owners globally. 
                Our platform ensures that you can access auto repair services 
                from any corner of the world, providing a reliable solution for 
                unexpected car issues, even when you're far from home.
            </h6>
            <p>We are dedicated to provide quality services to our clients</p>
            <a href="#contact" id="contact">View Engineers</a>
        </div>
        <div class="two" data-aos="fade-right">
            <div class="img">
                <img src="images/auto1.jpg">
            </div>
        </div>
    </div>

    
    <div id="classes" class="class">
        <p class="paragraph" data-aos="fade-up">What We Do</p>
        <h2 class="h2" data-aos="fade-up">See Our Best Services</h2>
        <div class="classMenu">
            <div class="team1" data-aos="fade-up">
                <div class="teamDetails">
                    <div class="num1">
                        <i class="fa fa-recycle" aria-hidden="true"></i>
                    </div>
                    <div class="nameDetails">
                        <h4>Pyrolysis Process</h4>
                        <h4>Coming soon</h4>
                    </div>
                    <div class="pro">
                        <p>Our state-of-the-art pyrolysis technology transforms
                           waste tires into valuable products such as fuel oil, 
                           carbon black, and steel wire.
                        </p>
                    </div>
                </div>
            </div>

            <div class="team1" data-aos="fade-up">
                <div class="teamDetails">
                    <div class="num1">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                    <div class="nameDetails">
                        <h4>Waste Tire Collection</h4>
                        <h4>Coming soon</h4>
                    </div>
                    <div class="pro">
                        <p>We provide efficient and eco-friendly tire collection 
                            services, ensuring that used tires are safely and 
                            responsibly gathered for processing.
                        </p>
                    </div>
                </div>
            </div>

            <div class="team1" data-aos="fade-up">
                <div class="teamDetails">
                    <div class="num1">
                        <i class="fa fa-industry" aria-hidden="true"></i>
                    </div>
                    <div class="nameDetails">
                        <h4>Oil and Gas Recovery</h4>
                        <h4>Coming Soon</h4>
                    </div>
                    <div class="pro">
                        <p>
                            We extract high-quality fuel oil 
                            and gas from tires, contributing to the reduction of 
                            fossil fuel consumption and greenhouse gas emissions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="project" class="class">
        <p class="paragraph" data-aos="fade-up">Recently Completed</p>
        <h2 class="h2" data-aos="fade-up">Our Projects</h2>
        <div class="classMenu">
            <div class="team1" data-aos="fade-up">
                <div class="img">
                    <img src="images/ser1.jpg">
                </div>
                <div class="teamDetails">
                    <div class="name">
                        <div class="nameDetails">
                            <h4>Residential</h4>
                        </div>
                    </div>
                    <div class="pro">
                        <p>Yoga helps you meditate and have a specific body posture,  which is good for your relaxation.</p>
                    </div>
                </div>
            </div>

            <div class="team1" data-aos="fade-up">
                <div class="img">
                    <img src="images/ser2.jpg">
                </div>
                <div class="teamDetails">
                    <div class="name">
                        <div class="nameDetails">
                            <h4>Commercial</h4>
                        </div>
                    </div>
                    <div class="pro">
                        <p>Areobic is designed for you, <br> to help increase your cardiovascular efficiency.</p>
                    </div>
                </div>
            </div>

            <div class="team1" data-aos="fade-up">
                <div class="img">
                    <img src="images/ser3.jpg">
                </div>
                <div class="teamDetails">
                    <div class="name">
                        <div class="nameDetails">
                            <h4>Industrial</h4>
                        </div>
                    </div>
                    <div class="pro">
                        <p>Cardio is the exercise designed <br>  for you to benefit your heart and blood vessels.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="contact" class="contact">
        <div class="form">
            <h2 data-aos="fade-up">Feel free to ask anything</h2> 
            <div class="submit" data-aos="fade-up">
                <input type="text" name="" placeholder="Name">
                <input type="email" name="" placeholder="Email">
                <textarea placeholder="Message"></textarea>
                <a href="#">Send Message</a>
            </div>
        </div>  
        <div class="map" data-aos="fade-up">
            <h2>Where you can find us</h2>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 15, Success Avenue, Dutse Abuja 
                off Tipper Guarage, Abuja, Nigeria</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8069790.435797271!2d8.677456999999999!3d9.0338725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0baf7da48d0d%3A0x99a8fe4168c50bc8!2sNigeria!5e0!3m2!1sen!2sng!4v1628162703702!5m2!1sen!2sng" 
                width="1290" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class="footer">
        <p>Copyright &copy 2023 GlobMec Technologies. <br> Design: Queensly Oko Udongwo</p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i>quimaudongwo@gmail.com<br>
        <i class="fa fa-phone" aria-hidden="true"></i>+234 706 946 9673</p>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200,
            duration: 1000,
        });
    </script>
    <!-- HEAD:queen/index.html -->
    <script src="script.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
