<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GlobMec | Connecting Mechanics and Car Owners Worldwide</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../js/script.js"></script>
    
</head>
<body>

    <section class="container-one forms">
        <!-- Sign up  -->

        <div class="form-one signup">
            <div class="form-content">
                <header>Signup</header>

		<form id="registrationForm" autocomplete="off">

                    <div class="field input-field">
                        <input type="text" name="name" id="name" placeholder="Name" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="text" name="lastname" id="lastname" placeholder="Lastname" class="input">
                    </div>

                    <div class="select input-field">
                        <select name="gender" id="">
                            <option value="">Select</option>
                            <option value="male">M</option>
                            <option value="female">F</option>
                        </select>
                    </div>

                    <div class="field input-field">
                        <input type="text" name="contact" id="contact" placeholder="Contact" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="text" name="services" id="service" placeholder="Services Offered" class="input">
                    </div>
                    
                    <div class="field input-field">
                        <input type="email" name="email" id="email" placeholder="Email" class="input">
                    </div>
                     

                    <div class="field input-field">
                        <input type="password" name="password" id="password" placeholder="Password" class="password">
                    </div>

                    <div class="field input-field">
                        <input type="password" name="conpass" id="conpass" placeholder="Confirm Password" class="password">
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">
                        <input type="country" name="country" id="country" placeholder="Country" class="input">
                    </div>

                    <div class="field input-field">
                        <input type="provinces" name="provinces" id="provinces" placeholder="provinces" class="provinces">
                    </div>

                    <div class="field input-field">
                        <input type="city" name="city" id="city" placeholder="City" class="city">
                    </div>

                    <div class="field input-field">
                        <input type="state" name="state" id="state" placeholder="State" class="state">
                    </div>

                    <div class="field input-field">
                        <input type="districts" name="districts" id="districts" placeholder="Districts" class="districts">
                    </div>

                    <div class="field input-field">
                        <input type="zipcode" name="zipcode" id="zipcode" placeholder="zipcode" class="zipcode">
                    </div>
                    
                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>

                    <div class="form-link">
                        <span>Already have an account? <a href="login.html" class="link login-link">Login</a></span>
                    </div>
                </form>
            </div>

            <div class="line"></div>

            <div class="media-options">
                <a href="#" class="field facebook">
                    <i class="bx bxl-facebook facebook-icon"></i>
                    <span>Login with Facebook</span>
                </a>
            </div>

            <div class="media-options">
                <a href="#" class="field google">
                    <img src="../images/google.png" alt="" class="google-img">
                    <span>Login with Google</span>
                </a>
            </div>
        </div>

    </section>
    <script src="../js/script.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
</body>
</html>
